@import "~materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
}

.menu-trigger img {
    border-radius: 90px;
}

.menu {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 305px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    border-bottom: 1px solid #dddddd;
}

.menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
}


#tasks, #addTask {
    border-collapse: collapse;
    border: 3px solid #ddd;
}

#tasks td,
#tasks th {
    border: 1px solid #ddd;
    padding: 12px;
}

#tasks tr:hover {
    background-color: #ffab00;
}

#tasks th {
    padding: 10px;
    text-align: center;
    color: white;
}

.input-field{
    padding-block: 6px;
}

.modal__wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, .2);
    backdrop-filter: blur(10px);
}

.modal__wrapper.open {
    height: 100%;
    display: block;
}

.modal__wrapper.close {
    height: 0;
    display: none;
}

.modal__body {
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
}

.modal__body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.modal__body {
    -ms-overflow-style: none;
}

.modal__close {
    text-align: right;
    margin-top: -15px;
    font-size: 40px;
    color: gray;
    cursor: pointer;
}

.modal__body h2 {
    text-align: left;
    width: 100%;
    margin: 0;
}

.pagination {
    text-align: center;
}

.pagination li {
    cursor: pointer;
}

.disabledA {
    pointer-events: none;
    cursor: default;
}
